#ignore le dossier de build QT
build-ihm_robot-Desktop-Debug/

#ignore le fichier de projet QT
ihm_robot/*.pro.user

#ignore le dossier du code source original du robot lego
code_source_lego_ev3/

#ignore le dossier de vscode
.vscode/